html {
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
}

h1 {
    font-size: 26pt;
    font-weight: 300;
}

h1 span {
    display: block;
}

.header {
    background: linear-gradient(60deg, #6C1F2B 70%, #7E3137 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.header__a {
    display: flex;
    color: white;
    text-decoration: none;
    min-width: 270px;
    justify-content: space-between;

}

.header__a__nadpis {
    display: flex;
    align-items: center;
}

.header__a__nadpis_line {
    background-color: white;
    height: 64px;
    width: 5px;
    margin-right: 0.5em;
}

.header__img img {
    width: 80px;
    height: 80px;
    margin-top: 21.44px;
    margin-bottom: 21.44px;
    margin-left: 21.44px;
    margin-right: 10px;
}

.hamburger{
    display: none;
    padding-right: 2em;
}
.hamburger__bar{
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
    background-color: white;    
    transition: .3s ease-in-out;

}

@media only screen and (max-width: 700px){
    .hamburger{
        display: block;
    }
    .hamburger.active .hamburger__bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .hamburger__bar:nth-child(1){
        transform: translateY(10px) rotateZ(45deg); 
    }
    .hamburger.active .hamburger__bar:nth-child(3){
        transform: translateY(-10px) rotateZ(-45deg);
    }    
    .navbar.active{
        background-color: #7E3137;
    }
    .navbar{
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
        top: 0%;
        right: -100vw;
        background-color: #7E3137;
        transition: .3s ease-in-out;
    }
    .navbar.active{
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

.navbar {
    height: 129px;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__li {
    list-style-type: none;
}

.navbar__li a {
    color: white;
    padding: 1em;
    font-size: 16pt;
}

.navbar__li a:hover {
    text-decoration: none;
    color: rgb(235, 235, 235);
}

.navbar ul {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0%;
}




.uvodka {
    background-image: url(../img/pozadi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uvodka__slogan {
    font-weight: 300;
    font-size: 20pt;
    text-align: center;
    padding-top: 1em;
}

.uvodka__slogan__p {
    margin-top: 0%;
}

.uvodka__popis {
    font-weight: 300;
    font-size: 14pt;
    width: 260px;
    margin-top: -1em;
}

.uvodka__button {
    color: #6C1F2B;
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 50px;
    text-decoration: none;
}

.nadpis2 {
    text-align: center;
    font-size: 24pt;
    font-weight: 300;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ikonka {
    width: 55px;
    height: 55px;
    background-color: #6C1F2B;
    border-radius: 50%;
    text-align: center;

}

.ikonka__svg {
    width: 32px;
    padding-top: 12px;
}

.h2__dezerty {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0%;
}

.dezerty {
    background-color: #6C1F2B;
    color: white;
    padding-left: 0%;
    padding-bottom: 0%;
}

.dezerty__card__img {
    width: 100%;
}

.dezerty__card__popis {
    background: linear-gradient(60deg, #6C1F2B 70%, #7E3137 70%);
    padding-bottom: 1.5em;
    padding-left: 2em;
}

.dezerty__card__popis__nadpis {
    font-size: 24pt;
    font-weight: 300;
    margin-bottom: 0.5em;
    margin-top: 0%;
    padding-top: 1em;
}

.dezerty__card__popis__popisek {
    font-weight: 300;
    font-size: 14pt;
}

.dezerty__card__popis__cena {
    font-size: 32pt;
    font-weight: 300;
}

.dezerty__card__popis__button {
    font-weight: 300;
    font-size: 14;
    background-color: white;
    color: #6C1F2B;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 16px;
    margin-left: 8em;
}

.dezerty__card__popis__span {
    display: flex;
    align-items: center;
    line-height: normal;
}

.cards__onecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.cards__onecard__popisek {
    max-width: 105px;
    font-size: 15pt;
    text-align: center;
}

.najdes__popis {
    font-size: 14pt;
    padding-left: 2em;
}

.najdes__popis p {
    padding-bottom: 1em;
}

.najdes__popis__tel {
    display: flex;
    align-items: center;
}

.najdes__popis__tel__cisla {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.footer {
    background-color: #6C1F2B;
    padding-left: 1em;
}
.footer__cast {
    display: flex;
    align-items: center;
}

.footer__cast_pic img {
    width: 36px;
}

.footer__cast_text {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 14pt;
    margin-left: 0.5em;
}